# Python
*.xlsx
*.csv
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Java/Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.release
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Node/npm (Frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.eslintcache
.next/
out/
dist/
build/

# IDEs & System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db